@media screen and (max-width: 1100px) {
    .mobile{
        display: flex !important;
    }
    .navDesktop_linkText {
        display: none;
    }

    .navDesktop_linkTextBtn {
        display: none;
    }

    .hamburger {
        display: flex !important;
    }

    .navDesktop {
        margin-top: 0;
        height: 3rem;
        position: absolute;
    }

    .heroSection {
        flex-direction: column-reverse;
        background-position: right;
        overflow: hidden;
    }

    .heroSection .leftSection {
        width: 100% !important;
        text-align: center;
    margin-left: 0rem !important;

    }

    .heroSection .rightSection {
        width: 90%;
        margin: 0 auto;
    }

    .about{
        margin-top: 3rem;
    }

    .aboutText{
        /* width: 100% !important; */
        text-align: center;
        overflow-wrap: break-word;
    }

    .aboutText{
        margin-bottom: 2rem;
    }
    
    .aboutAbout{
        display: block !important;
        text-align: center;
    }
    
    .aboutAboutText{
        margin-top: 3rem;
    }

    .articlesBody {
        display: block !important;
    }

    .articlesArticles {
        margin-top: 3rem;

    }

    .footerConnect{
        display: block !important;
        text-align: center;
    }

    .footerLink{
        display: block !important;
    }

    .footerBtn{
        text-align: center;
    }
    
    .footerBtn button{
        margin-left: 8rem;
        text-align: center;
        margin: 1rem 0;
    }

    .footerSocial div{
        margin-top: 1rem;
    }
}